.paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    button {
        background-color: $azul;
        display: block;
        color: $blanco;
        text-align: center;
        margin: .5rem 1rem;
        border: none;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 1rem 3rem;

        &.ocultar {
            visibility: hidden;
        }

        &:hover {
            cursor: pointer;
        }
    }
}